body {
    margin:0px;
    padding:0px;
    color: rgb(71, 20, 1);
    background-color: rgba(173, 173, 173, 0.788);
}

main {
    padding:16px;
}

footer {
    background-color: darkorchid;
    padding-top:24px;
    padding-bottom:24px;
    padding-left:0px;
    padding-right:0px;
    border-top: 5px;
}

img {
    height:200px;
}

nav {
    border-bottom:1px black;
    padding:16px;
}

header {
    background-color: crimson;
    margin-bottom: 2px;
    border: 5px;
}

a:hover {
    color:green;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(1, 255, 43);
}

#footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width:100%;
    padding-bottom: 25px;
}

.header {
    position: relative;
    text-align: left;
    top: 0;
    width:100%;
    border-style: solid; border-color: black;
    border-top: 0cap;
    border-width: 2px;
}

.grid-container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    gap: 20px;
    justify-items: center;
    border: 2px double; color: rgb(245, 252, 153);
    border-radius: 10px 100px; border-color: orchid;
    border-left: inset; border-right: inset;
}

tr:nth-child(even) {
    background-color: rgb(9, 255, 50);
}
